<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firebase.uidemo">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
s<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:name=".auth.FirebaseUIDemo"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".auth.AuthUiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/InitialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.BottomNavActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".auth.NewRecordActivity"
            android:label="@string/add_record"
            android:parentActivityName=".auth.BottomNavActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".auth.BottomNavActivity" />
        </activity>

        <!-- OJO: OCR -->

        <activity
            android:name="readerocr.AndroidCamera"
            android:theme="@style/InitialTheme"></activity>
        <activity
            android:name="readerocr.RecognizeTextActivity"
            android:label="@string/scan_button"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".auth.BottomNavActivity" />
        </activity>

        <!-- OJO: HBR -->
        <activity
            android:name=".auth.MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".auth.NewRecordActivity" />
        </activity>
        <activity
            android:name=".auth.RemindersActivity"
            android:label="@string/my_reminders"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".auth.BottomNavActivity" />
        </activity>

        <!-- OJO: REMINDERS -->
        <receiver android:name=".auth.NotificationReceiver"/>

    </application>

</manifest>